@font-face {
  font-family: 'Manrope-400';
  src: local('Manrope400'),
    url('./Manrope/Manrope-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope-500';
  src: local('Manrope500'),
    url('./Manrope/Manrope-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope-600';
  src: local('Manrope600'),
    url('./Manrope/Manrope-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-400';
  src: local('Montserrat400'),
    url('./Montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-600';
  src: local('Montserrat600'),
    url('./Montserrat/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
